.input-searchBar{
    /* position: absolute;
    height: 55px;
    max-width: 60px;
    width: 100%;
    margin: 0 10px;
    border-radius: 6px;
    background-color: rgb(112, 112, 112);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer; */
    position: absolute;
    height: 55px;
    max-width: 60px;
    width: 100%;
    border-radius: 6px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
}
.input-searchBar.open{
    max-width: 200px;
}
.input-searchBar input{
    /* position: relative; */
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background: #f2f2f2;
}
.input-searchBar.open input{
    padding: 0 15px 0 65px;
}
.input-searchBar .search{
    position: absolute;
    top: 10px;
    width: 60px;
    border-radius: 6px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.input-searchBar.open .search{
    border-radius: 6px 0 0 6px;
}
.search .search-icon{
    font-size: 30px;
    color: #2271ff;
    transform: rotate(90deg);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.input-searchBar.open .search-icon{
    transform: rotate(00deg);
}
.input-searchBar .close-icon{
    position: absolute;
    transform: translateY(-50%);
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
}
.input-searchBar.open .close-icon{
    opacity: 1;
    pointer-events: all;
    transform: translateY(-50%) rotate(180deg);
}

span.closeSearchBar {
    width: 20px;
    height: 20px;
    top: 30px;
    left: 10px;
    position: relative;
}

body.dark span.closeSearchBar svg {
    color: #f2f2f2;
}
