* {
    margin: 0;
    padding: 0;
}

/* box-sizing: border-box; */

body {
    /* min-height: 100vh; */
    /* background: url(images/html_table.jpg) center / cover; */
    /* background-image: linear-gradient(to left bottom, #051937, #133861, #1d5b8e, #1f81bc, #12a9eb); */
}

body.dark .tr_table td {
    color: black;
}

.tr_flex_container_table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 100%;

}


#table__responsive.tr_table {
    width: 95vw;
    height: 100%;
    background-color: #fff5;
    background-color: #454d55;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;

    /* font-family: sans-serif; */

}

.tr_table__header {
    width: auto;
    height: auto;
    background-color: #fff4;
    padding: 5px;

    /* display: flex;
    justify-content: space-between;
    align-items: center; */

    display: flex;
    flex-direction: column;
}

.tr_header_top {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.tr_header_bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

#tr_searchColumn,
#fechaDesde,
#fechaHasta {
    width: fit-content;
    height: 35px;
    background-color: #fff5;
    padding: 0 0.8rem;
    border-radius: 2rem;
    border: none;
}

.tr_date-group {
    opacity: 0;
    transition: 0.5s;
    /* display: none; */
    width: 0;
    height: 0;
    overflow: hidden;
}

.activeFilterDate {
    opacity: 1;
    /* width: 550px;
    height: 40px; */
    display: flex;
    flex-direction: row;
    align-items: center;

    width: auto;
    height: auto;
    flex-wrap: wrap;
}

.disableSearchBar {
    opacity: 0;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.searchDate {
    width: 25px;
    cursor: pointer;
}

.tr_header_bottom div,
.tr_date-group input {
    margin: 5px;
}

.tr_table__header .tr_input-group {
    width: 35%;
    /* height: 100%; */
    height: 35px;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s;

}

.tr_table__header .tr_input-group:hover {
    /* width: 45%; */
    background-color: #fff9;
    box-shadow: 0 .1rem .4rem #0002;
}

@media (max-width: 450px) {
    .tr_table__header .tr_input-group {
        width: 70%;
    }

    /* .tr_table__header .tr_input-group:hover {
        width: 100%;
    } */
}

.tr_table__header .tr_input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.tr_table__header .tr_input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.tr_table__body {
    width: 99%;
    height: 91%;
    /* max-height: calc(89% - 1.6rem); */
    /* max-height: calc(70% - 1.6rem); */
    /* height: 78%;
    height: 65%; */
    background-color: #fffb;

    margin: 5px;
    border-radius: .6rem;

    /* para ocultar la barra del scroll */
    /* overflow: overlay; */
    overflow: auto;
}

h1.tr_title_table {
    color: white;
    font-size: 25px;
    text-align: center;
}

.tr_table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.tr_table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.tr_table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

#table__responsive table {
    width: 100%;
}

#table__responsive td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

/* #table__responsive table,
#table__responsive th,
#table__responsive td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
} */

#table__responsive table,
#table__responsive th,
#table__responsive td {
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
    width: max-content;
}

#table__responsive tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
    cursor: pointer;
}

#table__responsive tbody tr.tr_hide {
    opacity: 0;
    transform: translateX(100%);
}

#table__responsive thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
    color: black;
}

#table__responsive tbody tr:nth-child(even) {
    background-color: #0000000b;
}

#table__responsive tbody tr:hover {
    background-color: #fff6 !important;

}


.tr_status {
    padding: 6px;
    border-radius: 2rem;
    text-align: center;
}

#table__responsive tbody tr td,
#table__responsive tbody tr td p,
#table__responsive tbody tr td img {
    transition: .2s ease-in-out;
}

#table__responsive tbody tr.tr_hide td,
#table__responsive tbody tr.tr_hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
    /* la transision tiene que ser la misma que se use en  la propiedad #table__responsive tbody tr */
}

#table__responsive tbody tr.tr_hide td img {
    width: 0;
    height: 0;
    /* la transision tiene que ser la misma que se use en  la propiedad #table__responsive tbody tr */
    transition: .2s ease-in-out .5s;
}


.tr_status.tr_green {
    background-color: #86e49d;
    color: #006b21;
}

.tr_status.tr_red {
    background-color: #d893a3;
    color: #b30021;
}

.tr_status.tr_yellow {
    background-color: #ebc474;
    color: #b84209;
}

.tr_status.tr_lightBlue {
    background-color: #6fcaea;
    color: blue;
}


td:not(:first-of-type) {
    min-width: 6rem;
}

/* td:not(:first-of-type) {
    min-width: 11rem;
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
} */

#table__responsive thead th span.tr_icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;

    text-align: center;
    font-size: 1rem;

    margin-left: .5rem;
    transition: .2s ease-in-out;
}

#table__responsive thead th:hover span.tr_icon-arrow {
    border: 1.4px solid #3d5caa;
}

#table__responsive thead th.active span.tr_icon-arrow {
    background-color: #3d5caa;
    color: #fff;
}

#table__responsive thead th.active,
#table__responsive tbody td.active {
    color: #3d5caa;
}

#table__responsive thead th:hover span.tr_icon-arrow {
    border: 1.4px solid #3d5caa;
}

#table__responsive thead th.asc span.tr_icon-arrow {
    transform: rotate(180deg);
}

#table__responsive thead th:hover {
    color: #3d5caa;
}

.tr_export__file {
    position: relative;
}

.tr_export__file .tr_export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.tr_export__file .tr_export__file-btn:hover {
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.tr_export__file input {
    display: none;
}

.tr_export__file .tr_export__file-options {
    position: absolute;
    right: 0;

    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;

    box-shadow: 0 .2rem .5rem #0004;
    z-index: -1;

    transition: .2s;
}

.tr_export__file input:checked+.tr_export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.tr_export__file .tr_export__file-options label {
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #fff;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.tr_export__file .tr_export__file-options label:first-of-type {
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.tr_export__file .tr_export__file-options label:hover {
    transform: scale(1.05);
    background-color: #f2f2f2;
    cursor: pointer;
}

.tr_export__file .tr_export__file-options img {
    width: 2rem;
    height: auto;
}


.tr_td_bold {
    font-weight: 600;
}

section.tr_table_bottom {
    width: 100%;
    background-color: #fff4;
    /* padding: .8rem 1rem; */
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    /* left: 0; */
    /* height: 50px; */
    height: auto;
}


/* PAGINATION */
#tr_pagination {
    width: fit-content;
}

.tr_pagination ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    /* padding: 8px; */
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.tr_pagination ul li {
    color: #3d5caa;
    list-style: none;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tr_pagination ul li.tr_pagination_numb {
    list-style: none;
    height: 30px;
    width: 30px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
}

.tr_pagination ul li.tr_pagination_numb.tr_pagination_first {
    margin: 0px 3px 0 -5px;
}

.tr_pagination ul li.tr_pagination_numb.tr_pagination_last {
    margin: 0px -5px 0 3px;
}

.tr_pagination ul li.tr_pagination_dots {
    font-size: 22px;
    cursor: default;
}

.tr_pagination ul li.tr_pagination_btn {
    padding: 0 20px;
    border-radius: 50px;
}

.tr_pagination li.tr_pagination_active,
.tr_pagination ul li.tr_pagination_numb:hover,
.tr_pagination ul li:first-child:hover,
.tr_pagination ul li:last-child:hover {
    color: #fff;
    background: #3d5caa;
}

.limpiarFiltroFecha {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.limpiarFiltroFecha::after {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    background: #dc4a58;
    border-radius: 25px;
    transform: rotate(45deg);
    top: 12px;
}

.limpiarFiltroFecha::before {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    background: #dc4a58;
    border-radius: 25px;
    transform: rotate(-45deg);
    top: 12px;
}

.limpiarFiltroFecha:hover {
    transform: rotate(90deg);
}

#tr_goBack_btn img{
    width: 30px;
    cursor: pointer;
}

#tr_goBack_btn {
    transition: 0.5s ease all;
}
#tr_goBack_btn:hover {
    transform: scale(1.15);
}