h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.accordion {
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}



/* .accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
} */
.accordion-item-header .icono {
  position: absolute;
  right: 1rem;
  font-size: 20px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.accordion-item-header div#first{
  transform: rotate(180deg)
}
.accordion-item-header div#second{
  transform: rotate(90deg)
}

.accordion-item-header.active div#first{
  transform: rotate(0deg)
}
.accordion-item-header.active div#second{
  transform: rotate(0deg)
}

/* .accordion-item-header.active::after {
  content: "\2212";
} */
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.accordion-item-body-content {
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.tituloHeader {
  margin-left: 15px;
}

/* @media(max-width:767px) {
  html {
    font-size: 14px;
  }
} */